.App {
  margin: 0% 5% 0% 5%;
  border: 5px dotted pink;
  text-align: center;
  background: black;
  color:pink;
  padding: 2%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.navWrapper {
  padding-bottom: 5%;
  margin-bottom: 2%;
  border: 4px solid pink;
  border-radius: 1pc;
  background:white
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.normalText{
  padding-top: -10px;
  font-weight: bold;
  font-size: large;
}

.headerText {
  color: #F5A9BC;
  font-size: 7em;
  text-shadow: 5px 5px black;
  padding-top: 25px;
  margin: 0% 2% 0% 2%;
}


.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3B0B0B;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: 2em;
  text-shadow: 3px 1px black
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: 5em;
}


.indexWrapper {
  margin: auto;
}


.pigTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: #3B0B0B dotted thick;
  transition: 0.75s;
  opacity: 1;
}

.minBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
}

.maxBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
  opacity: 0.75;
}

.pigTile h3 {
  color: #FBB;
}
.minPigTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxPigTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.pigTile:hover {
  transform: scale(1.05);
}


.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all .2s ease-in-out;
}

.footer {
  padding: 1%;
  clear: both;
}


.hogCard{
  border: 2px solid pink;
  padding: 5px;
  margin: 10px;
  background: black;
  color:white;
  border-radius: 1pc;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.hogCard:hover{
  background-color: pink;
  border: 2px solid white;
  padding: 5px;
  margin: 10px;
  color:white;
  border-radius: 1pc; /* Green */
}
#hog-title{
  border: 5px solid pink;
  margin: 10px;
  border-radius: 1pc;
  padding: 5px;
  text-shadow: 2px 2px pink;
}

#hog-deets{
  border: 2px dotted pink;
  padding: 2px;
  margin: 2px;
  border-radius: 1pc;
}

#hog-name{
  border: 5px solid pink;
  padding: 5px;
  margin: 5px;
  border-radius: 1pc;
  text-shadow: 2px 2px pink;

}


button{
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 4px solid pink;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: -5px;
    padding: 4px;
    border-radius: 2pc;
}

button:hover{
    background-color: pink; /* Green */
    color: white;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
